:root {
  --main-text-color: #434455;
  --bg-color: #ffffff; /* Header, team card background */
  --primary-brand-color: #4d5ae5; /* CTAs Focused Active states Links */
  --pressed-state-color: #404bbf; /* CTAs */
  --dark-color: #2e2f42; /* Overlays Shadows Headings logo*/
  --light-bg-color: #f4f4fd; /* Light mode backgrounds Light mode Dialogs/alerts */
  --acccent-color: #e7e9fc; /* Accent color Hairlines Subtle backgrounds */
  --cont-width: 1158px;
  --gap-team-card: 24px;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 120px 0 ;
  outline: 5px solid green;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.current.link {
  color: var(--pressed-state-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-color);
}

.logo-lead {
  color: var(--dark-color);
}
.logo-footer {
  color: var(--light-bg-color);
}
.active-link:hover,
.active-link:focus {
  color: var(--pressed-state-color);
}

.active-btn:hover,
.active-btn:focus {
  color: var(--bg-color);
  background-color: var(--pressed-state-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--dark-color);
}

.primary-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-text-color);
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;

  cursor: pointer;
}

/* Header*/
.container-header {
  display: flex;
  align-items: center;
}

.header {
}

.header-nav {
  display: flex;
  margin-right: auto;
}

.header-nav-logo {
  display: block;
  padding: 24px 0;
  margin-right: 76px;
}

.header-nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: var(--dark-color);
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
}

.header-cont-list {
  display: flex;
  gap: 40px;
}

.header-cont-item {
}

.header-cont-link {
  display: block;
    padding: 24px 0;
  color: var(--main-text-color);
}

.header-address {
  font-style: normal;
}

/* Hero section - Studio*/

.hero {
  text-align: center;
  background-color: var(--dark-color);
  padding: 188px 0;
}

.hero-title {
  width: 496px;
  margin: 0 auto 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  
  letter-spacing: 0.02em;

  color: var(--bg-color);
}

.hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--bg-color);
  background-color: var(--primary-brand-color);
}

/* Feature section - Studio*/

.features {
}

.features-title {
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc( -1 * var(--gap-team-card));
  margin-left: calc( -1 * var(--gap-team-card));
  

}

.features-item {
  flex-basis: calc(100% / 4 - var(--gap-team-card));
  margin-top: var(--gap-team-card);
  margin-left: var(--gap-team-card);

}

.features-subtitle {
  text-align: left;
  margin-bottom: 8px;
  
  
}

.features-desc {

}

/* Examples - Studio*/

.examples {
  padding-top: 0;
}

.examples-title {
  margin-bottom: 72px;

}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc( -1 * var(--gap-team-card));
  margin-top: calc( -1 * var(--gap-team-card));
  }

.examples-item {
  flex-basis: calc(100% / 3 - var (--gap-team-card));
  margin-left: var(--gap-team-card);
  margin-top: var(--gap-team-card);
}

.examples-img {
}

/* Our Team - Studio*/

.team {
  background-color: var(--light-bg-color);
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc( -1 * var(--gap-team-card));
  margin-top: calc(-1 * var(--gap-team-card));
}

.team-item {
  flex-basis: calc(100% / 4 - var(--gap-team-card));
  margin-left: var(--gap-team-card);
  margin-top: var(--gap-team-card);
  background-color: var(--bg-color);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 16px;
}

.team-img {

}

.team-subtitle {
  margin-bottom: 8px;
  
}

.team-desc {
  text-align: center;

}

/* Footer */

.footer {
  padding: 100px 0;
  background-color: var(--dark-color);
}

.footer-logo {
}

.footer-desc {
  margin-top: 16px;
  width: 264px;
  color: var(--light-bg-color);
}

/* main - portfolio */

.portfolio {
}

.portfolio-btn-items {
}

.btn-item {
}

.portfolio-btn {
  color: var(--primary-brand-color);
  background-color: var(--light-bg-color);
  border: 1px solid var(--acccent-color);
  border-radius: 4px;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-link {
}

.portfolio-img {
}

.portfolio-subtitle {
}

.portfolio-desc {
}
